body, ul {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #175732	;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #ddd;
    color: black;
}

nav img {
    float: left;
    margin-right: 20px;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding:34px 46px;
    text-decoration: none;

}

li a:hover {
    background-color: #ddd;
    color: black;
}

body {
    background-image: url('https://static.vecteezy.com/ti/photos-gratuite/p1/4456248-bleu-ciel-salle-vide-studio-gradient-3d-background-white-vide-room-abstract-background-horizontal-template-for-design-grey-backgrounds-gradient-room-interior-display-illustration-gratuit-photo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Roboto, sans-serif;
  }


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background-color: #333;
    color: white;
}

th {
    padding: 10px;
    text-align: left;
}

td {
    padding: 10px;
    border: 1px solid #ddd;
}

h1 {
    font-size: 40px;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

tr {
    font-size: 20px;
}

p {
    font-size: 20px; /

  }
